.not-found-image{
    height: 400px;
    width: 450px;
}

.not-found-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}